{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Equipos</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    <ul>
        {% for equipo in equipos %}
            <li>{{ equipo.nombre }} - {{ equipo.descripcion }}</li> 
        {% empty %}
            <li>No hay equipos registrados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_equipo' %}">Crear Nuevo Equipo</a>
    <a href="{% url 'pagina_principal' %}">Volver a la página principal</a>
</body>
</html>